<% if current_user&.role == 'artist' %>
  <p><%= link_to 'Update',edit_user_registration_path %></p>
  <p><%= link_to 'Sign out',destroy_user_session_path, method: :delete %></p>
<% else %>
  <p>You are not Signed in</p>
  <p><%= link_to 'Login',new_user_session_path %></p>
  <br />
  <p><%= link_to 'Sign up',new_user_registration_path %></p>
<% end %>
